<% content_for :title_bar do %>
  <h1>Edit <%= resource_name.to_s.humanize %></h1>
<% end %>
<div class="form-wrapper">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field-wrapper">
    <%= f.label :name %>
    <div class="field"><%= f.text_field :name %></div>
  </div>

  <div class="field-wrapper">
    <%= f.label :initials %>
    <div class="field"><%= f.text_field :initials %></div>
  </div>

  <div class="field-wrapper">
    <%= f.label :email %>
    <div class="field"><%= f.email_field :email %></div>
  </div>

  <div class="field-wrapper">
    <%= f.label :password %>
    <div class="field"><%= f.password_field :password %></div>
    <div class="help">Leave blank if you don't want to change it</div>
  </div>

  <div class="field-wrapper">
    <%= f.label :password_confirmation %>
    <div class="field"><%= f.password_field :password_confirmation %></div>
  </div>

  <h3>Notify me when my stories are:</h3>
  <div class="field">
    <%= f.check_box :email_delivery %>
    <%= f.label :email_delivery, 'delivered' %>
  </div>

  <div class="field">
    <%= f.check_box :email_acceptance %>
    <%= f.label :email_acceptance, 'accepted' %>
  </div>

  <div class="field">
    <%= f.check_box :email_rejection %>
    <%= f.label :email_rejection, 'rejected' %>
  </div>

  <div class="field-wrapper">
    <%= f.label :current_password %>
    <div class="field"><%= f.password_field :current_password %></div>
    <div class="help">We need your current password to confirm your changes.</div>
  </div>

  <div class="actions"><%= f.submit "Update" %></div>
<% end %>
<div class="secondary-actions"><%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %></div>

<%= link_to "Back", :back %>
