<div class="col-xs-12 col-sm-6">
  <h2><%= t('projects.project_members') %></h2>
  <ul class="list-group members-list">
    <% @project.users.order('name').each do |user| %>
      <%= content_tag :li, id: dom_id(user), class: 'list-group-item clearfix' do %>
        <div class="member-name">
          <%= user %>
        </div>

        <% if policy(User).manage? %>
          <%= link_to t('remove'),
            project_user_path(@project, user),
            data: { confirm: t('remove user confirm', email: user.email) },
            method: :delete,
            remote: true,
            class: 'btn btn-danger btn-sm pull-right' %>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <hr>

  <% if policy(User).manage? %>
    <h2><%= t('projects.available_users') %></h2>
    <ul class="list-group members-list">
      <% current_team.users.where.not(id: @project.users).order('name').each do |user| %>
        <%= content_tag :li, id: dom_id(user), class: 'list-group-item clearfix' do %>
          <%= content_tag :div, user, class: 'member-name' %>

          <%= form_tag [@project, :users], method: :post, remote: true, class: 'pull-right' do %>
            <%= hidden_field_tag 'user[email]', user.email %>
            <%= button_tag t('add'), class: 'btn btn-default btn-sm' %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>

