<% content_for :sidebar do %>
  <%= render 'projects/nav', project: @project %>
<% end %>
<% content_for :navbar do %>
  <%= render 'projects/navbar', project: @project, current: "members" %>
<% end %>

<% content_for :title_bar do %>
  <div class="project_nav">
    <%= link_to @project.name, @project, class: 'project-title' %>
  </div>
<% end %>

<div class="row">
  <% if policy(User).manage? %>
    <div class="col-xs-12 col-sm-6">
      <h2><%= t('add new member') %></h2>
      <div class="add-member">
        <%= form_for @user,
          url: project_users_path(@project, @user),
          html: { class: 'form-horizontal' } do |f| %>

          <%= content_tag :div, class: 'alert alert-danger' do %>
            <%= t('errors.template.header', count: @user.errors.count, model: @user.class.name.humanize) %>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          <% end if @user.errors.any? %>

          <div class="form-group">
            <%= f.label :email, class: 'col-xs-2 control-label' %>
            <div class="col-xs-10"><%= f.text_field :email, class: 'form-control' %></div>
          </div>

          <div class="form-group">
            <%= f.label :name, class: 'col-xs-2 control-label' %>
            <div class="col-xs-10"><%= f.text_field :name, class: 'form-control' %></div>
          </div>

          <div class="form-group">
            <%= f.label :username, class: 'col-xs-2 control-label' %>
            <div class="col-xs-10"><%= f.text_field :username, class: 'form-control' %></div>
          </div>

          <div class="form-group">
            <%= f.label :initials, class: 'col-xs-2 control-label' %>
            <div class="col-xs-10"><%= f.text_field :initials, class: 'form-control' %></div>
          </div>

          <div class="form-group">
            <%= f.label :role, class: 'col-xs-2 control-label' %>
            <div class="col-xs-10"><%= f.select :role, User.role.options, class: 'form-control' %></div>
          </div>

          <div class="actions">
            <%= f.submit 'Add user', class: 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id="user_list">
    <%= render 'user_list' %>
  </div>
</div>
