<% content_for :title_bar do %>
  <h1>Forgot your password?</h1>
<% end %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls"><%= f.email_field :email %></div>
  </div>

  <div class="form-actions"><%= f.submit "Send me reset password instructions", :class => :btn %></div>
<% end %>
