<% content_for :title_bar do %>
  <h1>Sign up</h1>
<% end %>
<div class="form-wrapper special">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field-wrapper">
    <div class="field"><%= f.text_field :name, :placeholder => t('name') %></div>
  </div>

  <div class="field-wrapper">
    <div class="field"><%= f.text_field :initials, :placeholder => t('initials') %></div>
  </div>

  <div class="field-wrapper">
    <div class="field"><%= f.email_field :email, :placeholder => t('email') %></div>
  </div>

  <div class="actions"><%= f.submit t('sign up') %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
