<% content_for :title_bar do %>
  <h1>Sign up</h1>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :name %></div>
  </div>

  <div class="control-group">
    <%= f.label :initials, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :initials %></div>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls"><%= f.email_field :email %></div>
  </div>

  <div class="form-actions"><%= f.submit t('sign up'), :class => 'btn' %></div>
<% end %>

