<%= form_for(@project) do |f| %>
  <%= render 'form_errors', object: @project if @project.errors.any? %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control auth-form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :point_scale %>
    <%= f.select :point_scale, point_scale_options, {}, { class: 'form-control auth-form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :default_velocity, class: 'control-label' %>
    <%= f.text_field :default_velocity, length: 2, size: 3, class: 'form-control auth-form-control' %>
  </div>

  <div class="form-group date-form-group">
    <%= f.label :start_date, class: 'control-label' %> <br>
    <%= f.date_select :start_date, {}, { class: 'form-control auth-form-control' } %>
  </div>

  <div class="form-group ">
    <%= f.label :iteration_start_day, class: 'control-label' %>
    <%= f.select :iteration_start_day, day_name_options, {}, { class: 'form-control auth-form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :iteration_length, class: 'control-label' %>
    <%= f.select :iteration_length, iteration_length_options, {}, { class: 'form-control auth-form-control' } %>
  </div>

  <div class="btn-group actions pull-right clearfix">
    <%= f.submit nil, class: 'btn btn-primary btn-form' %>

    <% if policy(@project).archive? %>
      <%= link_to t('projects.archive'), [:archive, @project],
        data: {confirm: t('projects.index.are you sure you want to archive this project')},
        method: :patch,
        class: 'btn btn-warning btn-form' %>
    <% end %>

    <% if policy(@project).destroy? %>
      <%= link_to t('delete'), @project,
        data: {confirm: t('projects.index.are you sure you want to delete this project')},
        method: :delete,
        class: 'btn btn-danger btn-form' %>
    <% end %>
  </div>
<% end %>
