<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Project properties</legend>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :point_scale %><br />
      <%= f.select :point_scale, point_scale_options %>
    </div>
    <div class="field">
      <%= f.label :default_velocity %><br />
      <%= f.text_field :default_velocity, :length => 2, :size => 3 %>
    </div>
    <div class="field">
      <%= f.label :start_date %><br />
      <%= f.date_select :start_date %>
    </div>
    <div class="field">
      <%= f.label :iteration_start_day %><br />
      <%= f.select :iteration_start_day, day_name_options %>
    </div>
    <div class="field">
      <%= f.label :iteration_length %><br />
      <%= f.select :iteration_length, iteration_length_options %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
