<div class="form-wrapper edit-project">
<%= form_for(@project) do |f| %>
  <%= render 'shared/form_errors', :object => @project if @project.errors.any? %>

  <div class="field-wrapper">
    <%= f.label :name, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8"><%= f.text_field :name %></div>
  </div>

  <div class="field-wrapper">
    <%= f.label :point_scale, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8"><%= f.select :point_scale, point_scale_options %></div>
  </div>

  <div class="field-wrapper">
    <%= f.label :default_velocity, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8"><%= f.text_field :default_velocity, :length => 2, :size => 3 %></div>
  </div>

  <div class="field-wrapper date-wrapper">
    <%= f.label :start_date, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8 date-select-wrapper"><%= f.date_select :start_date %></div>
  </div>

  <div class="field-wrapper">
    <%= f.label :iteration_start_day, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8"><%= f.select :iteration_start_day, day_name_options %></div>
  </div>

  <div class="field-wrapper">
    <%= f.label :iteration_length, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8"><%= f.select :iteration_length, iteration_length_options %></div>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
</div>
