<li class="divider"></li>

<li>
  <div class="column-toggles-wrap">
    <div id="column-toggles"></div>
  </div>
</li>

<li>
  <%= sidebar_link Story.model_name.human(count: 2), project_path(project) %>
</li>

<% if policy(User).manage? %>
  <li>
    <%= sidebar_link User.model_name.human(count: 2), project_users_path(project) %>
  </li>
<% end %>

<% if policy(project).manage? %>
  <li>
    <%= sidebar_link t('edit'), edit_project_path(project) %>
  </li>

  <li>
    <%= sidebar_link t('import'), import_project_path(project) %>
  </li>
<% end %>

<li>
  <%= link_to t('export'), project_stories_path(project, format: :csv) %>
</li>

<li>
  <%= sidebar_link t('reports'), reports_project_path(project, since: 3) %>
</li>

<li class="divider"></li>
