<h1><%= project.name %></h1>

<%- if defined? show_column_toggles -%>
<div id="column-toggles"></div>
<%- end -%>

<%= link_to_unless_current Story.model_name.human.pluralize, project_path(project) %> |
<%= link_to_unless_current User.model_name.human.pluralize, project_users_path(project) %> |
<%= link_to_unless_current 'Edit', edit_project_path(project) %> |
<%= link_to_unless_current 'Import', import_project_stories_path(project) %> |
<%= link_to 'Export', project_stories_path(project, :format => :csv) %>
