<ul class="nav nav-pills">
  <li role="presentation" class="nav-item <%= active_class(project_path(project)) %>">
    <%= sidebar_link Story.model_name.human(count: 2), project_path(project) %>
  </li>
  <li role="presentation" class="nav-item <%= active_class(project_users_path(project)) %>">
    <%= sidebar_link User.model_name.human(count: 2), project_users_path(project) %>
  </li>
  <li role="presentation" class="nav-item <%= active_class(reports_project_path(project)) %>">
    <%= sidebar_link t('reports'), reports_project_path(project, since: 3) %>
  </li>
  <li role="presentation" class="nav-item">
    <%= link_to t('export'), project_stories_path(project, format: :csv) %>
  </li>
  <% if policy(project).manage? %>
    <li role="presentation" class="nav-item <%= active_class(import_project_path(project)) %>">
      <%= sidebar_link t('import'), import_project_path(project) %>
    </li>
    <li role="presentation" class="nav-item <%=  active_class(project_integrations_path(project)) %>">
      <%= sidebar_link t('projects.integrations'), project_integrations_path(project) %>
    </li>
    <li role="presentation" class="nav-item <%= active_class(edit_project_path(project)) %>">
      <%= link_to t('edit'), edit_project_path(project) %>
    </li>
  <% end %>
  <li class="nav-item toggle-navbar less">
    <i class="mi md-22">expand_less</i>
  </li>
</ul>
