<h1><%= project.name %></h1>

<div id="show_hide_buttons">
  <%= link_to 'Done', '#', :id => 'hide_done' %>
  <%= link_to 'In Progress', '#', :id => 'hide_in_progress' %>
  <%= link_to 'Backlog', '#', :id => 'hide_backlog' %>
  <%= link_to 'Chilly Bin', '#', :id => 'hide_chilly_bin' %>
</div>

<%= link_to_unless_current 'Stories', project_path(project) %> |
<%= link_to_unless_current 'Members', project_users_path(project) %> |
<%= link_to_unless_current 'Edit', edit_project_path(project) %> |
<%= link_to_unless_current 'Import', import_project_stories_path(project) %>
