<h1><%= project.name %></h1>

<%- if defined? show_column_toggles -%>
<div id="column-toggles" class="btn-group"></div>
<%- end -%>

<div id="project-menu">
  <%= link_to_unless_current Story.model_name.human.pluralize, project_path(project) %> |
  <%= link_to_unless_current User.model_name.human.pluralize, project_users_path(project) %> |
  <%= link_to_unless_current t('edit'), edit_project_path(project) %> |
  <%= link_to_unless_current t('import'), import_project_stories_path(project) %> |
  <%= link_to t('export'), project_stories_path(project, :format => :csv) %>
</div>