<li><hr /></li>
<li>
    <div class="column-toggles-wrap">
      <div id="column-toggles"></div>
    </div>
</li>
<li>
<%= link_to_unless_current Story.model_name.human(count: 2), project_path(project) %>
</li>
<% if can? :manage, User %>
  <li>
  <%= link_to_unless_current User.model_name.human(count: 2), project_users_path(project) %>
  </li>
<% end %>
<% if can? :manage, project %>
  <li>
  <%= link_to_unless_current t('edit'), edit_project_path(project) %>
  </li>
  <li>
    <%= link_to_unless_current t('import'), import_project_path(project) %>
  </li>
<% end %>
<li>
<%= link_to t('export'), project_stories_path(project, format: :csv) %>
</li>
<li>
<%= link_to_unless_current t('reports'), reports_project_path(project, since: 3) %>
</li>
<li><hr /></li>

