<li class="list-group-item">
  <h4 class="item-title">
    <%= link_to truncate(project.name, length: 18), project, class: 'tag-tooltip',
      data: {toggle: "tooltip"}, title: project.name %>
    <small class="pull-right"><%= t('velocity') %>: <%= project.iteration_service(since: 4.months.ago).velocity %> <%= t('volatility') %>: <%= number_to_percentage(project.iteration_service(since: 4.months.ago).volatility * 100.0, precision: 0) %></small>
  </h4>
</li>
<li class="list-group-item">
  <div class="btn-group">
    <% if policy(project).update? %>
      <%= link_to t('edit'), edit_project_path(project), class: 'btn btn-default btn-sm' %>
    <% end %>

    <%= link_to t('reports'), reports_project_path(project), class: 'btn btn-default btn-sm' %>

    <% if policy(User).update? %>
      <%= link_to "#{User.model_name.human(count: 2)} (#{project.memberships_count})", project_users_path(project), class: 'btn btn-default btn-sm' %>
    <% end %>
  </div>
</li>
