<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="panel-title pull-left item-title-wrapper">
        <h4 class="item-title">
          <%= link_to truncate(project.name, length: 18), project, class: 'tag-tooltip',
            data: {toggle: "tooltip"}, title: project.name %> (<%= project.stories_count %>)
        </h4>
      </div>
    </div>
    <div class="panel-body">
      <div class="project_options btn-group pull-right">
        <% if can? :update, project %>
          <%= link_to t('edit'), edit_project_path(project), class: 'btn btn-default btn-sm' %>
        <% end %>

        <% if can? :update, User %>
          <%= link_to "#{User.model_name.human(count: 2)} (#{project.memberships_count})", project_users_path(project), class: 'btn btn-default btn-sm' %>
        <% end %>

        <% if can? :destroy, project %>
          <%= link_to t('delete'), project,
            data: {confirm: t('projects.index.are you sure you want to delete this project')},
            method: :delete,
            class: 'btn btn-danger btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
