<li class="list-group-item">
  <h4 class="item-title">
    <%= link_to truncate(project.name, length: 18), project, class: 'tag-tooltip',
      data: {toggle: "tooltip"}, title: project.name %> (<%= project.stories_count %>)
  </h4>
</li>
<li class="list-group-item">
  <div class="btn-group">
    <% if can? :update, project %>
      <%= link_to t('edit'), edit_project_path(project), class: 'btn btn-default btn-sm' %>
    <% end %>

    <%= link_to t('reports'), reports_project_path(project), class: 'btn btn-default btn-sm' %>

    <% if can? :update, User %>
      <%= link_to "#{User.model_name.human(count: 2)} (#{project.memberships_count})", project_users_path(project), class: 'btn btn-default btn-sm' %>
    <% end %>
  </div>
</li>
