<% content_for :title_bar do %>
  <% if policy(Project).new? %>
    <%= link_to t('projects.new project'), new_project_path, class: 'btn btn-primary btn-sm navbar-btn' %>
  <% end %>
<% end %>

<div id="projects" class="projects-list">
  <div class="row item">
    <div class="col-md-12">
      <% unless @projects.empty? %>

        <div class="col-md-6">
          <% unless @activities_group.empty? %>
            <ul class="timeline">
              <%= render 'activities_group', activities_group: @activities_group %>
            </ul>
          <% else %>
            <div class="simple-alert">
              <i class="mi alert-icon">error_outline</i>
              <h4 class="text-center"><%= t('projects.no_recent_activity') %></h4>
            </div>
          <% end %>
        </div>

        <div class="col-md-6 projects">
          <%= render @projects %>
        </div>

      <% else %>
        <div class="col-md-8 col-md-offset-2">
          <div class="simple-alert">
            <i class="mi alert-icon">error_outline</i>
            <h4 class="text-center">
              <%= t('projects.no_projects_found') %>
            </h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
