<% content_for :title_bar do %>
  <h1>Listing projects</h1>
<% end %>

<ul id="projects">
  <% @projects.each do |project| %>
    <li>
      <div class="project_options">
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Members', project_users_path(project) %>
        <%= link_to 'Delete', project, :confirm => 'Are you sure you want to delete this project?  This action cannot be undone.', :method => :delete %>
      </div>
      <h2><%= link_to project.name, project %></h2>
      Started at: 
      <%= project.start_date %>
      <br />
      <p>
        The iteration starts on <%= Date::DAYNAMES[project.iteration_start_day].pluralize %> with length of <%= project.iteration_length %> week(s)
      </p>
    </li>
  <% end %>
</ul>

<%= link_to 'New Project', new_project_path, :class => :button %>
