<% content_for :title_bar do %>
  <%= render :partial => 'projects/nav', :locals => {:project => @project} %>
<% end %>

<% cache [@project, params[:since]], expires: 2.days do %>

<% unless @since_options.empty? %>
<div class="row">
  <div class="col-sm-12 col-md-12">
    |
    <% @since_options.each do |qty| %>
      <% if params[:since] == qty.to_s %>
        <%= "#{qty} month(s) ago" %> |
      <% else %>
        <%= link_to "#{qty} month(s) ago", reports_project_path(@project, since: qty) %> |
      <% end %>
    <% end %>
    <% if params[:since].present? %>
      <%= link_to "All time", reports_project_path(@project) %> |
    <% end %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <h2><%= t('projects.reports.velocity_by_iteration') %></h2>

    <ul>
      <li><%= Project.human_attribute_name(:start_date) %>: <%= @project.start_date.to_date %></li>
      <li><%= Project.human_attribute_name(:iteration_start_day) %>: <%= I18n.t('date.day_names')[@project.iteration_start_day] %></li>
      <li><%= Project.human_attribute_name(:iteration_length) %>: <%= @project.iteration_length %></li>
      <li><%= t('velocity') %>: <%= @service.velocity %></li>
    </ul>

    <p><%= column_chart @service.group_by_velocity, xtitle: "Iteration #", ytitle: "Velocity" %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <h2><%= t('projects.reports.velocity_per_member') %></h2>
    <p><%= line_chart @service.group_by_developer, xtitle: "Iteration #", ytitle: "Velocity" %></p>
  </div>
</div>

<% end %>
