<%= javascript_tag "var ATTACHINARY_OPTIONS = #{attachinary_file_field_options(Story.new, :documents, cloudinary: { use_filename: true }).to_json}" %>
<%= raw File.read Rails.root.join('app/views/projects/_attachinary_template.html') %>

<script type="text/javascript">
$(function() {
  <% if notice %>
    window.projectView.notice({
      title: 'Notice', text: '<%= notice %>',
      image: '<%= image_path('dialog-information.png') %>'
    });
  <% end %>

  <% if alert %>
    window.projectView.notice({
      title: 'Alert', text: '<%= alert %>', sticky: true,
      image: '<%= image_path('dialog-warning.png') %>'
    });
  <% end %>
});
</script>

<% content_for :title_bar do %>
  <div id="velocity" class="velocity"></div>
  <%= render 'projects/nav', project: @project, show_column_toggles: true %>
  |
  <a id="add_story" href="#"><%= t('add story') %></a>
<% end %>

<%= content_tag :table,
  class: 'stories',
  width: '100%',
  data: {
    project: @project.to_json,
    users: @project.users.to_json,
    current_user: current_user.to_json
  } do %>
  <tbody>
    <tr>
    <% if !Fulcrum::Application.config.fulcrum.column_order or Fulcrum::Application.config.fulcrum.column_order != 'progress_to_right' %>
      <td data-column-view="done"></td>
      <td data-column-view="in_progress" data-connect="#backlog,#chilly_bin"></td>
      <td data-column-view="backlog" data-connect="#chilly_bin,#in_progress"></td>
      <td data-column-view="chilly_bin" data-connect="#backlog,#in_progress"></td>
    <% elsif Fulcrum::Application.config.fulcrum.column_order == 'progress_to_right' %>
      <td data-column-view="chilly_bin" data-connect="#backlog,#in_progress"></td>
      <td data-column-view="backlog" data-connect="#chilly_bin,#in_progress"></td>
      <td data-column-view="in_progress" data-connect="#backlog,#chilly_bin"></td>
      <td data-column-view="done"></td>
    <% end %>
    <td style="display: none;" data-column-view="epic" data-hideable="false"></td>
    <td style="display: none;" data-column-view="search_results"></td>
    </tr>
  </tbody>
<% end %>

<div class="loading_screen">
  <div class="spinner">
    <span class="icons-spinner"></span>
  </div>
</div>
