<h1><%= @project.name %></h1>
<p id="notice"><%= notice %></p>

<%= link_to 'Members', project_users_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<a id="add_story" href="#">Add story</a>

<table class="stories" width="100%">
  <thead>
    <tr>
      <th>Done</th>
      <th>In Progress</th>
      <th>Backlog</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="done" style="width: 33%">
        <%= render @project.stories.done %>
      </td>
      <td id="in_progress" style="width: 33%">
        <%= render @project.stories.in_progress %>
      </td>
      <td id="backlog" style="width: 33%">
        <%= render @project.stories.backlog %>
        <%= render 'stories/form' %>
      </td>
    </tr>
  </tbody>
</table>
