<script id="story_tmpl" type="text/x-jQuery-tmpl">
  <div id="story_${story.id}" class="story ${story.story_type}">
    {{if story.estimable}}
    <div class="state-actions">
      <%= form_for :story, :url => "/projects/#{@project.to_param}/stories/${story.id}", :html => {:method => :put} do |f| %>
        <% @project.point_values.each do |points| %>
          <%= f.submit points, :name => 'story[estimate]' %>
        <% end %>
      <% end %>
    </div>
    {{else story.events.length > 0}}
    <div class="state-actions">
      {{each story.events}}
      <%= button_to "${$value}", "/projects/#{@project.id}/stories/${story.id}/${$value}", {:method => :put, :class => "${$value}"} %>
      {{/each}}
    </div>
    {{/if}}
    <div class="story-icons">
      <img src="/images/expand.png" class="expand" alt="Expand">
      <img src="/images/${story.story_type}.png" class="story_type" alt="${story.story_type}">
      {{if story.estimated}}
      <span class="estimate">${story.estimate}</span>
      {{/if}}
    </div>
    <div class="story-title">${story.title}</div>
  </div>
</script>

<script type="text/javascript">
  $(function() {
    loadColumn('<%= done_project_stories_path(@project) %>', '#done');
    loadColumn('<%= in_progress_project_stories_path(@project) %>', '#in_progress');
    loadColumn('<%= backlog_project_stories_path(@project) %>', '#backlog');
  });
</script>

<h1><%= @project.name %></h1>
<p id="notice"><%= notice %></p>

<%= link_to 'Members', project_users_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<a id="add_story" href="#">Add story</a>

<table class="stories" width="100%">
  <thead>
    <tr>
      <th>Done</th>
      <th>In Progress</th>
      <th>Backlog</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="done" style="width: 33%"></td>
      <td id="in_progress" style="width: 33%"></td>
      <td id="backlog" style="width: 33%">
        <%= render 'stories/form' %>
      </td>
    </tr>
  </tbody>
</table>
