<%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
<script id="story_tmpl" type="text/x-jQuery-tmpl">
  {{if story.estimable}}
  <div class="state-actions">
    <form>
      {{each $item.story.point_values()}}
      <input type="button" class="estimate" value="${$value}"/>
      {{/each}}
    </form>
  </div>
  {{else story.events.length > 0}}
  <div class="state-actions">
    <form>
      {{each story.events}}
        <input type="button" class="transition ${$value}" value="${$value}"/>
      {{/each}}
    </form>
  </div>
  {{/if}}
  <div class="story-icons">{{if $item.view.saveInProgress}}<a
    class="icon icons-throbber">Saving...</a>{{else}}<a
    class="icon icons-expand expand">Expand</a>{{/if}}<span class="popover-activate"><span
    class="icon icons-${story.story_type} story_type"
    title="${story.story_type}: ${story.id}">${story.story_type}</span>{{if story.estimated}}<span
    class="estimate estimate_${story.estimate}">${story.estimate}</span>{{/if}}{{if $item.story.hasDetails()}}<span
    class="icon icons-details"></span>{{/if}}</span></div>
  <div class="story-title">
    {{if story.labels}}<span class="tags">${story.labels}</span>{{/if}}
    ${story.title}
    {{if $item.story.owned_by()}}
      <abbr class="initials" title="${$item.story.owned_by().get("name")}">
        ${$item.story.owned_by().get("initials")}
      </abbr>
    {{/if}}
  </div>

</script>
<script id="story_form" type="text/x-jQuery-tmpl">
  <p>
    <label for="story_title"><%= Story.human_attribute_name('title') %></label><br/>
    <input type="text" id="story_title" value="${title}"/>
  </p>
</script>

<script id="story_hover" type="text/x-jQuery-tmpl">
  <div class="small">
    <span class="icons">
      <span class="icon icons-${story.story_type}"></span>
      <span class="text">${story.story_type}</span>
      {{if story.estimated}}
        <span class="estimate estimate_${story.estimate}">${story.estimate}</span>
        <span class="text">${story.estimate} points</span>
      {{/if}}
    </span>
    <span>Requested
      {{if story.requested_by()}}
      by ${$item.story.requested_by().get("name")}
      {{/if}}
      on ${$item.story.created_at()}</span>
  </div>
  {{if story.description}}
    <h4 class="title"><%= Story.human_attribute_name('description') %></h4>
    <div class="description">${story.description}</div>
  {{/if}}
  {{if $item.story.hasNotes()}}
    <h5 class="title"><%= Note.model_name.human.pluralize %></h5>
    {{each(index, note) $item.story.notes.saved()}}
    <div class="note">
      {{tmpl({note:note}) "#note_tmpl"}}
    </div>
    {{/each}}
  {{/if}}
</script>

<script id="note_tmpl" type="text/x-jQuery-tmpl">
  <p class="note">${note.get("note")}</p>
  <div class="note_meta">
    <span class="user">${note.userName()}</span> -
    <span class="created_at">${note.get("created_at")}</span>
  </div>
</script>

<script type="text/javascript">
$(function() {
  var project = new Project(<%= @project.to_json.html_safe %>);
  project.users.reset(<%= @project.users.to_json.html_safe %>);
  project.current_user = new User(<%= current_user.to_json.html_safe %>);
  window.projectView = new ProjectView({model: project});
  window.projectView.scaleToViewport();
  $(window).resize(projectView.scaleToViewport);

  setInterval(function() {
    window.projectView.model.fetch();
  }, 5000);

  <% if notice %>
    window.projectView.notice({
      title: 'Notice', text: '<%= notice %>',
      image: '<%= image_path('dialog-information.png') %>'
    });
  <% end %>

  <% if alert %>
    window.projectView.notice({
      title: 'Alert', text: '<%= alert %>', sticky: true,
      image: '<%= image_path('dialog-warning.png') %>'
    });
  <% end %>
});
</script>

<% content_for :title_bar do %>
  <%= render :partial => 'projects/nav',
             :locals => {:project => @project, :show_column_toggles => true} %>
  | <a id="add_story" href="#">Add story</a>
  | <div id="filter"><input id="filter_bar" placeholder="Filter stories..." /><span id="cancel">x</span></div>
<% end %>

<table class="stories" width="100%">
  <thead>
    <tr>
      <th class="done_column">Done<a class="toggle-column hide_done" title="Close">&times;</a></th>
      <th class="in_progress_column">In Progress<a class="toggle-column hide_in_progress" title="Close">&times;</a></th>
      <th class="backlog_column">Backlog<a class="toggle-column hide_backlog" title="Close">&times;</a></th>
      <th class="chilly_bin_column">Chilly Bin<a class="toggle-column hide_chilly_bin" title="Close">&times;</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="done_column" style="width: 25%"><div id="done" class="storycolumn"></div></td>
      <td class="in_progress_column" style="width: 25%"><div id="in_progress" class="storycolumn sortable"></div></td>
      <td class="backlog_column" style="width: 25%"><div id="backlog" class="storycolumn sortable"></div></td>
      <td class="chilly_bin_column" style="width: 25%"><div id="chilly_bin" class="storycolumn sortable"></div></td>
    </tr>
  </tbody>
</table>

<div class="loading_screen">
  <div class="spinner">
    <span class="icons-spinner"></span>
  </div>
</div>
