<div class="col-sm-12 col-md-6">
  <% if @project.integrations.exists? %>
    <h3><%= t('projects.integrations') %></h3>
    <ul class="list-group members-list">
      <% @project.integrations.each do |integration| %>
        <li class="list-group-item clearfix">
          <%= integration.kind %> - <%= integration.data %>
          <%= link_to 'Remove', project_integration_path(@project, integration),
          confirm: t('projects.integrations_remove_sure', kind: integration.kind),
          method: :delete,
          class: 'btn btn-danger btn-sm pull-right' %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <h3><%= t('projects.integrations_new') %></h3>
  <div class="form-wrapper">
  <%= form_for [@project, @integration] do |i| %>
    <div class="field-wrapper">
      <%= i.label :kind, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= i.select :kind, Integration::VALID_INTEGRATIONS %></div>
    </div>
    <div class="field-wrapper">
      <%= i.label :data, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= i.text_field :data %>
      <span class="help-block">
        ex: { "channel":"testing-mentions", "bot_username":"marvin", "private_uri":"https://mm42.com.br/hooks/private_token" }</div>
      </span>
    </div>
    <div class="actions">
      <%= i.submit t('projects.integrations_new'), class: 'btn btn-primary pull-right' %>
    </div>
  <% end %>
  </div>
</div>
