<% content_for :title_bar do %>
  <ul class="nav navbar-nav">
    <li>
      <%= link_to @project.name, root_path %>
    </li>
  </ul>
<% end %>

<% content_for :navbar do %>
  <%= render 'projects/navbar', project: @project %>
<% end %>

<%= render partial: 'projects/settings_sidebar',
           layout: 'projects/sidebar_wrapper',
           locals: { project: @project } %>

<div class="settings-page">
  <div class="col-xs-12 col-sm-9">
    <h3><%= t('projects.integrations') %></h3>
    <hr>

    <% @integrations.each do |integration| %>
      <div class="col-xs-12 col-sm-10">
        <div class="card panel integration">
          <div class="panel-heading clearfix">
            <%= integration.kind.camelcase %>

            <% unless integration.new_record? %>
              <%= link_to project_integration_path(@project, integration),
                          data: { confirm: t('projects.integrations_remove_sure', kind: integration.kind) },
                          method: :delete,
                          class: 'btn btn-sm btn-remove' do %>
                <%= material_icon.delete_forever.md_18 %> Remove
              <% end %>
            <% end %>
          </div>

          <div class="panel-content">
            <% if integration.new_record? %>
              <%= form_for [@project, integration] do |form| %>
                <%= form.hidden_field :kind, value: integration.kind %>

                <%= render partial: "integrations/#{integration.kind}",
                                    locals: { form: form } %>

                <div class="actions text-right">
                  <%= form.submit t('projects.integrations_new'), class: 'btn btn-primary' %>
                </div>
              <% end %>
            <% else %>
              <pre><code><%= JSON.pretty_generate(integration.data) %></code></pre>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
