<div class="column_header">
  <a href="#" class="toggle-title" title="<%= name %>"><%= name %></a>
  <a href="#" class="toggle-column hide_<%= id %>" title="<%= I18n.t('close') %>">&times;</a>
</div>
<div id="<%= id %>" class="storycolumn"></div>
