<h4><%= I18n.t('keycuts.keyboard_shortcuts') %></h4>
<p><span><%= I18n.t('keycuts.help') %></span>?</p>
<p><span><%= I18n.t('keycuts.add_story') %></span>a</p>
<p><span><%= I18n.t('keycuts.save_currently_open_story') %></span>&lt;Ctrl&gt; + s</p>
<p><span><%= I18n.t('keycuts.save_comment_being_edited') %></span>&lt;Shift&gt; + enter</p>
<p><span><%= I18n.t('keycuts.toggle_backlog') %></span>&lt;Shift&gt; + b</p>
<p><span><%= I18n.t('keycuts.toggle_done') %></span>&lt;Shift&gt; + d</p>
<p><span><%= I18n.t('keycuts.toggle_icebox') %></span>&lt;Shift&gt; + c</p>
<p><span><%= I18n.t('keycuts.toggle_current') %></span>&lt;Shift&gt; + p</p>
<a href="#" class="close">close</a>