<%= window.md.makeHtml(note.escape("note")) %>
<div class="note_meta">
  <span class="user"><%= note.userName() %></span> -
  <span class="created_at"><%= note.get("created_at") %></span> -
  <a href="#" title="<%= I18n.t('delete') %>" class="delete-note"><%= I18n.t('delete') %></a>
</div>
