<% if (story.estimable()) { %>
<div class="state-actions estimates">
  <form>
    <% _.each(story.point_values(), function(value) { %>
      <% if (value > 0) { %>
        <span class="estimate input" data-value="<%= value %>" id="estimate-<%= value %>">
          <%= Array(value + 1).join("|") %>
        </span>
      <% } %>
    <% }); %>
  </form>
</div>
<% } else if (story.events().length > 0) { %>
<div class="state-actions">
  <form>
    <% _.each(story.events(),  function(value) { %>
      <input type="button" class="transition <%= value %>" value="<%= value %>"/>
    <% }); %>
  </form>
</div>
<% } %>
<div class="story-icons">
  <% if (view.saveInProgress) { %>
  <a class="icon icons-throbber" title="<%= I18n.t('saving') %>"></a>
  <% } %>
  <span class="popover-activate">
    <% if (story.get('story_type') == 'feature') { %>
      <span class="fa-icon-overlay">
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </span>
    <% } %>
    <% if (story.get('story_type') == 'chore') { %>
      <i class="fa fa-cog"></i>
    <% } %>
    <% if (story.get('story_type') == 'bug') { %>
      <i class="fa fa-bug"></i>
    <% } %>
    <% if (story.estimated()) { %>
      <span class="estimate estimate_<%= story.get('estimate') %>">
        <%= Array(story.get("estimate") + 1).join("|") %>
      </span>
    <% } %>
    <% if (story.hasDetails()) { %>
      <span class="fa-icon-overlay">
        <i class="fa fa-comment"></i>
        <i class="fa fa-comment-o"></i>
      </span>
    <% } %>
  </span>
</div>
<div class="story-title">
  <% if (story.get('labels')) { %>
    <span class="tags">
      <% _.each(story.labels(), function(value) { %>
        <a href="#" class='epic-link' title="<%= value %>"><%= value %></a>
      <% }); %>
    </span>
  <% } %>
  <%= story.escape('title') %>
  <% if (story.get('owned_by_name')) { %>
    <abbr class="initials" title="<%= story.escape('owned_by_name') %>">
      <%= story.escape('owned_by_initials') %>
    </abbr>
  <% } %>
</div>
