<div class="small">
  <span class="icons">
    <span class="icon icon-<%= story.get('story_type') %>"></span>
    <span class="text"><%= story.get('story_type') %></span>
    <% if (story.get('estimated')) { %>
      <span class="estimate estimate_<%= story.get('estimate') %>"><%= story.get('estimate') %></span>
      <span class="text"><%= story.get('estimate') %> points</span>
    <% } %>
  </span>
  <span>Requested
    <% if (story.requested_by()) { %>
    by <%= story.requested_by().get("name") %>
    <% } %>
    on <%= story.created_at() %></span>
</div>
<% if (story.get('description')) { %>
  <h4 class="title">Description</h4>
  <div class="description"><%= window.md.makeHtml(story.escape('description')) %></div>
<% } %>
<% if (story.hasNotes()) { %>
  <h5 class="title">Notes</h5>
  <% _.each(story.notes.saved(), function(note) { %>
  <div class="note"><%= JST['templates/note']({note:note}) %></div>
  <% }); %>
<% } %>
