<% if (story.estimable()) { %>
<div class="state-actions">
  <form>
    <% _.each(story.point_values(), function(value) { %>
    <input type="button" class="estimate" value="<%= value %>"/>
    <% }); %>
  </form>
</div>
<% } else if (story.events().length > 0) { %>
<div class="state-actions">
  <form>
    <% _.each(story.events(),  function(value) { %>
      <input type="button" class="transition <%= value %>" value="<%= value %>"/>
    <% }); %>
  </form>
</div>
<% } %>
<div class="story-icons">
  <% if (view.saveInProgress) { %>
  <a class="icon icons-throbber" title="<%= I18n.t('saving') %>"></a>
  <% } %>
  <span class="popover-activate">
    <span class="icon icons-<%= story.get('story_type') %> story_type" title="<%= story.story_type %>: <%= story.id %>">
      <%= story.story_type %>
    </span>
    <% if (story.estimated()) { %>
    <span class="estimate estimate_<%= story.get('estimate') %>">
      <%= story.get('estimate') %>
    </span>
    <% } %>
    <% if (story.hasDetails()) { %>
    <span class="icon icons-details"></span>
    <% } %>
  </span>
</div>
<div class="story-title">
  <% if (story.get('labels')) { %><span class="tags"><%= story.escape('labels') %></span><% } %>
  <%= story.escape('title') %>
  <% if (story.owned_by()) { %>
    <abbr class="initials" title="<%= story.owned_by().escape('name') %>">
      <%= story.owned_by().escape('initials') %>
    </abbr>
  <% } %>
</div>
