<% if (story.estimable()) { %>
<div class="state-actions">
  <form>
    <% _.each(story.point_values(), function(value) { %>
    <input type="button" class="btn btn-mini estimate" value="<%= value %>"/>
    <% }); %>
  </form>
</div>
<% } else if (story.events().length > 0) { %>
<div class="state-actions">
  <form>
    <% _.each(story.events(),  function(value) { %>
      <input type="button" class="btn btn-mini transition <%= value %> <%= story.transitionButtonClass(value) %>" value="<%= value %>"/>
    <% }); %>
  </form>
</div>
<% } %>
<div class="story-icons"><% if (view.saveInProgress) { %><a
  class="icon icon-throbber" title="Saving ..."></a><% } else { %><a
  href="#" class="icon icon-chevron-right expand" title="Expand"></a><% } %><span class="popover-activate"><span
  class="icon icon-<%= story.get('story_type') %> story_type"
  title="<%= story.story_type %>: <%= story.id %>"><%= story.story_type %></span><% if (story.estimated()) { %><span
  class="estimate estimate_<%= story.get('estimate') %>"><%= story.get('estimate') %></span><% } else { %><span
  class="estimate unknown"></span><% } %><% if (story.hasDetails()) { %><span
  class="icon icon-comment"></span><% } %></span></div>
<div class="story-title">
  <% if (story.get('labels')) { %><span class="tags"><%= story.escape('labels') %></span><% } %>
  <%= story.escape('title') %>
  <% if (story.owned_by()) { %>
    <abbr class="initials" title="<%= story.owned_by().escape('name') %>">
      <%= story.owned_by().escape('initials') %>
    </abbr>
  <% } %>
</div>
