<div class="form-wrapper add-member">
<%= form_for [:admin, @user] do |f| %>
  <%= render 'form_errors', object: @user if @user.errors.any? %>

  <div class="field-wrapper">
    <%= f.label :email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :email %></div>
  </div>

  <div class="field-wrapper">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :name %></div>
  </div>

  <div class="field-wrapper">
    <%= f.label :initials, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :initials %></div>
  </div>

  <div class="field-wrapper">
    <%= f.label :username, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :username %></div>
  </div>

  <div class="field-wrapper">
    <%= f.label :role, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.select :role, I18n.t('users.roles').invert %></div>
  </div>

  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
</div>
