<h2><%= t('admin.users.edit user') %></h2>

<%= render 'form' %>

<h2><%= Project.model_name.human(:count => 2) %></h2>

<% if @user.projects.count > 0 %>
  <ul>
    <% @user.projects.each do |project| %>
      <li><%= link_to project.name, project %></li>
    <% end %>
  </ul>
<% else %>
  --
<% end %>

<%= link_to 'Back', admin_users_path %>
