<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <%= image_tag 'logo.png', width: 32, height: 32 %>
    <a href="#menu-toggle" class="menu-toggle menu-toggle-opened pull-right">
      <i class="mi md-light md-36">close</i>
    </a>
  </li>
  <li>
    <%= link_to t('cm-central'), root_path %>
  </li>

  <%= yield :sidebar %>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <%= Project.model_name.human(count: 2) %>
      <span class="caret"></span>
    </a>
    <% if current_user %>
    <ul class="dropdown-menu">
      <li><%= link_to t('projects.archived projects'), projects_archived_path %></li>
      <li role="separator" class="divider"></li>
      <% current_user.projects.not_archived.order(:name).each do |project| -%>
        <li><%= link_to project, project %></li>
      <% end %>
    </ul>
    <% end %>
  </li>
  <% if current_user %>

    <% if policy(User).create? %>
      <li><%= link_to User.model_name.human(count: 2), admin_users_path %></li>
    <% end %>
    <li><%= link_to current_user.name, edit_user_registration_path %></li>
    <li><%= link_to t('log out'), destroy_user_session_path,
                    method: :delete %></li>
  <% else %>
    <li><%= link_to t('log in'), new_user_session_path %></li>
    <%- unless Fulcrum::Application.config.fulcrum.disable_registration %>
    <li><%= link_to t('sign up'), new_user_registration_path %></li>
    <% end -%>
  <% end %>
</ul>
