<!DOCTYPE html>
<html>
<head>
  <title>Fulcrum</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.11.custom.min',
                              'jquery.tmpl.min.js', 'fulcrum' %>
  <%= csrf_meta_tag %>
</head>
<body>

<ul id="primary-nav">
  <% if current_user %>
    <li><%= current_user.email %></li>
    <li><%= link_to 'Log out', destroy_user_session_path %></li>
  <% else %>
    <li><%= link_to 'Log in', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
  <% end %>
</ul>

<div id="main">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</div>

</body>
</html>
