<!DOCTYPE html>
<html>
<head>
  <title><%= t('fulcrum') %></title>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag 'screen.css', :Media => 'screen, projection' %>
  <%= javascript_include_tag 'underscore.js', 'jquery-1.7.1.min',
    'backbone.js', 'jquery-ui-1.8.11.custom.min', 'jquery.tmpl.min.js',
    'jquery.gritter.min.js', 'jquery.scrollTo-min.js', 'backbone.rails',
    'rails.js', 'date.format.js', 'bootstrap-twipsy.js', 'bootstrap-popover.js',
    'tag-it.js',
    'models/iteration',
    'models/note',
    'models/story',
    'models/project',
    'models/user',
    'collections/note_collection',
    'collections/story_collection',
    'collections/user_collection',
    'views/loading_screen_view',
    'views/form_view',
    'views/iteration_view',
    'views/note_form',
    'views/note_view',
    'views/project_velocity_override_view',
    'views/project_velocity_view',
    'views/project_view',
    'views/story_view',
    'fulcrum' %>
</head>
<body>

<div id="header">
  <ul id="primary-nav">
    <li class="root"><%= link_to t('fulcrum'), root_path %></li>
    <% if current_user %>
      <li<%= ' class="secondary"'.html_safe if current_user.projects.present? %>>
        <%= link_to Project.model_name.human.pluralize, root_path %>
        <%- if current_user.projects.present? -%>
          <ul>
            <%- current_user.projects.each do |project| -%>
              <li><%= link_to project, project %></li>
            <%- end -%>
          </ul>
        <%- end %>
      </li>
      <li><%= link_to current_user.email, edit_user_registration_path %></li>
      <li><%= link_to t('log out'), destroy_user_session_path %></li>
    <% else %>
      <li><%= link_to t('log in'), new_user_session_path %></li>
      <li><%= link_to t('sign up'), new_user_registration_path %></li>
    <% end %>
  </ul>
</div>

<div id="title_bar">
  <%= yield :title_bar %>
</div>

<div id="main">
  <%= show_messages %>

  <%= yield %>
</div>

</body>
</html>

