<!DOCTYPE html>
<html>
<head>
  <title>Fulcrum</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'screen.css', :Media => 'screen, projection' %>
  <%= javascript_include_tag 'underscore.js', 'jquery-1.4.2.min',
    'backbone.js', 'jquery-ui-1.8.11.custom.min', 'jquery.tmpl.min.js',
    'jquery.gritter.min.js', 'jquery.scrollTo-min.js', 'backbone.rails',
    'rails.js',
    'models/iteration', 'models/story', 'models/project', 'models/user',
    'collections/story_collection', 'collections/user_collection',
    'views/form_view', 'views/story_view', 'views/app_view',
    'fulcrum' %>
</head>
<body>

<div id="header">
  <ul id="primary-nav">
    <li class="root"><%= link_to "Fulcrum", root_path %></li>
    <% if current_user %>
      <li<%= ' class="secondary"'.html_safe if current_user.projects.present? %>>
        <%= link_to 'Projects', root_path %>
        <%- if current_user.projects.present? -%>
          <ul>
            <%- current_user.projects.each do |project| -%>
              <li><%= link_to project, project %></li>
            <%- end -%>
          </ul>
        <%- end %>
      </li>
      <li><%= link_to current_user.email, edit_user_registration_path %></li>
      <li><%= link_to 'Log out', destroy_user_session_path %></li>
    <% else %>
      <li><%= link_to 'Log in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
  </ul>
</div>

<div id="title_bar">
  <%= yield :title_bar %>
</div>

<div id="main">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</div>

</body>
</html>

