<!DOCTYPE html>
<html>
<head>
  <title>Fulcrum</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
</head>
<body>

<div id="header">
  <ul id="primary-nav">
    <li class="root"><%= link_to "Fulcrum", root_path %></li>
    <% if current_user %>
      <li<%= ' class="secondary"'.html_safe if current_user.projects.present? %>>
        <%= link_to 'Projects', root_path %>
        <%- if current_user.projects.present? -%>
          <ul>
            <%- current_user.projects.each do |project| -%>
              <li><%= link_to project, project %></li>
            <%- end -%>
          </ul>
        <%- end %>
      </li>
      <li><%= link_to current_user.email, edit_user_registration_path %></li>
      <li><%= link_to 'Log out', destroy_user_session_path %></li>
    <% else %>
      <li><%= link_to 'Log in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
  </ul>
</div>

<div id="title_bar">
  <%= yield :title_bar %>
</div>

<div id="main">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</div>

</body>
</html>

